<form [formGroup]="stolpersteinRelationForm">
    <div class="center-content-always">
    <mat-list role="list">
       <mat-list-item role="listitem">
           <mat-form-field class="width-limiter" [style.width.px]="textFieldWidth">
               <mat-label>Stolperstein in Beziehung zu auswählen</mat-label>
               <mat-select formControlName="related_stolperstein" required>
                   <div *ngFor="let selectedStolperstein of otherStolpersteine">
                       <mat-option [value]="selectedStolperstein"> {{selectedStolperstein.name}} </mat-option>
                   </div>
               </mat-select>
           </mat-form-field>
       </mat-list-item>
       <mat-list-item role="listitem">
           <mat-form-field class="width-limiter" [style.width.px]="textFieldWidth">
               <mat-label>Art der Beziehung auswählen</mat-label>
               <mat-select formControlName="type" required>
                   <mat-option [value]="type.key" *ngFor="let type of typeChoices"> {{type.showValue}} </mat-option>
               </mat-select>
           </mat-form-field>
       </mat-list-item>
   </mat-list> 
</div>
   <div class="center-content-always">
        <mat-form-field appearance="fill" class="width-limiter-textarea" [style.width.px]="textFieldWidth">
            <mat-label>Informationen zur Beziehung</mat-label>
            <textarea matInput formControlName="text" [style.height.px]="200" placeholder=""></textarea>
        </mat-form-field>
    </div>
</form>
<div class="button-container"> 
    <button mat-raised-button [disabled]="!stolpersteinRelationForm.valid" (click)="emitSaveRelation()" class="button-space-to-right"><mat-icon>save</mat-icon>Beziehung hinzufügen</button>
    <button mat-raised-button (click)="emitCancel()">Abbrechen</button>
</div>