.button-spacing {
    margin-right: 10px; /* Adjust the value to control the spacing */
  }

  /* Add this to your component's CSS or a global stylesheet */
.disabled-mat-form-field {
  background-color: #f5f5f5; /* Change the background color to a visually muted one */
  cursor: not-allowed; /* Change the cursor style to indicate it's not clickable */
}