<form [formGroup]="locationForm">
    <div class="center-content">
        <mat-list role="list">
            <mat-list-item role="listitem">
                <mat-form-field aria-required="true">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
            </mat-list-item>
            <mat-list-item role="listitem">
                <mat-form-field class="spacing-right" aria-required="true">
                    <mat-label>Latitude</mat-label>
                    <input matInput formControlName="coordinates_lat" required>
                </mat-form-field>
                <mat-form-field aria-required="true">
                    <mat-label>Longitude</mat-label>
                    <input matInput formControlName="coordinates_lon" required>
                </mat-form-field>
            </mat-list-item>
            <mat-list-item>
                <div>
                    <button mat-raised-button color="primary" type="submit" (click)="saveAndSend()" [disabled]="!locationForm.valid">Save</button>
                </div>
            </mat-list-item>
        </mat-list>  
    </div>
</form>

